ul {
    list-style: none;
    padding-left: 0;
}

td.right {
    text-align: right;
}

.pp0 {
    color: #00FF00;
}

.pp0-1 {
    color: #ADFF2F;
}

.pp1 {
    color: #FFD700;
}

.pp1-2 {
    color: #FFC107;
}

.pp2 {
    color: #FFA500;
}

.pp2-3 {
    color: #FF4500;
}
.pp3 {
    color: red;
}
.pp-1 {
    color: lightgray;
}

a.region {
    text-decoration: none;
    color: black;
}

a.region:hover {
    text-decoration: underline;
}

a.region:visited {
    color: black;
}

a.nav-link,.disabled {
    color: lightyellow !important;
}
